odd/judita2.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Judita, ver. 2</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
            <rendition selector="span[n]::before">
  content: "[" attr(n) "]\2004";
  color: #bebebe;
  position: absolute;
  left: -3em;
</rendition>
<rendition selector="span.margin-note">
  color: #004225;
  font-size: small;
</rendition>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2021-10-23Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="judita2" source="teipublisher.odd"> <elementSpec ident="div" mode="change">
                    <model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="l" mode="change">
                    <modelGrp>
            <model predicate="@enjamb='2b'" behaviour="block">
                <desc>Enjambement 2b, Dark Pastel Blue #779ecb</desc>
                <param name="n" value="@n"/>
                <pb:template xmlns="" xml:space="preserve"><span n="[[n]]">[[content]]</span></pb:template>
                <outputRendition xml:space="preserve">
                color: #779ecb;
margin-left: 1em;
                </outputRendition>
            </model>
            <model predicate="@enjamb='2a'" behaviour="block">
                <desc>Enjambement 2a, Laurel Green #a9ba9d</desc>
                <param name="n" value="@n"/>
                <pb:template xmlns="" xml:space="preserve"><span n="[[n]]">[[content]]</span></pb:template>
                <outputRendition xml:space="preserve">
                margin-left: 1em;
color: #a9ba9d;
                </outputRendition>
            </model>
            <model predicate="@enjamb='1'" behaviour="block">
                <param name="n" value="@n"/>
                <pb:template xmlns="" xml:space="preserve"><span n="[[n]]">[[content]]</span></pb:template>
                <outputRendition xml:space="preserve">
                margin-left: 1em;
color: #8f0000;
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="n" value="@n"/>
                <pb:template xmlns="" xml:space="preserve"><span n="[[n]]">[[content]]</span></pb:template>
                <outputRendition xml:space="preserve">
                margin-left: 1em;
                </outputRendition>
            </model>
        </modelGrp>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>